<!DOCTYPE html>
<html>
  <head>
    <title>Tflondon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

   	<!-- Google map API JS dependencies -->
  	<script src="//maps.google.com/maps/api/js?key=AIzaSyBAIj6ArC4yvmYDT8Ca_FGeMY1eIKcX6P0"></script>
  	<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
